*.tfrecord
experiments/reference/**
experiments/pretrained_model/**
experiments/reference/**
experiments/experiment0/**
experiments/experiment1/**
experiments/experiment2/**
.Trash-0/**
*.gif
!animation_experiment_1.gif
!animation_experiment_2.gif
!animation_experiment_3.gif

*.gz
!experiments/**/*.svg
!experiments/*/*.config
!experiments/**/**/*.svg
